version: '3.8'
services:
  gosh-docker-extension-backend:
    cap_add:
      - NET_ADMIN
      - DAC_OVERRIDE
      - FOWNER
    volumes:
      - /var/run/docker.sock:/var/run/docker.sock
    image: "${DESKTOP_PLUGIN_IMAGE}"
      
