<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>You were invited to DAO</title>

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <style type="text/css"></style>
    </head>
    <body
        style="
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family: Poppins, sans-serif;
        "
    >
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" valign="top">
                    <table
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        class="wrapper"
                        bgcolor="#ffffff"
                        style="
                            width: 100%;
                            max-width: 40rem;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                        "
                    >
                        <tr>
                            <td align="center" valign="top">
                                <img
                                    src="https://gosh.sh/email/v3-0-5/header-dao-invite.png"
                                    width="100%"
                                    border="0"
                                    alt="You were invited to DAO"
                                    style="
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        display: block;
                                    "
                                />
                            </td>
                        </tr>
                        <tr>
                            <td
                                align="left"
                                valign="top"
                                style="
                                    font-weight: 400;
                                    font-size: 1rem;
                                    line-height: 1.6;
                                    color: #53596d;
                                    padding: 2.5rem 3rem 0;
                                "
                            >
                                <h1
                                    style="
                                        font-weight: 600;
                                        font-size: 1.5rem;
                                        line-height: 1.2;
                                        color: #050a15;
                                    "
                                >
                                    User
                                    <span style="color: #40b3ff">
                                        {{ sender_username }}
                                    </span>
                                    has invited you to join their DAO
                                </h1>
                                <div
                                    style="
                                        margin-top: 1.5rem;
                                        padding: 2rem;
                                        border: 1px solid #ebebeb;
                                        border-radius: 1rem;
                                        overflow: hidden;
                                        background-color: #f8f8f8;
                                    "
                                >
                                    <p
                                        style="
                                            margin: 0;
                                            color: #050a15;
                                            font-size: 0.875rem;
                                        "
                                    >
                                        Become a member of the
                                        <b style="color: #40b3ff">{{ dao_name }}</b> DAO
                                        on GOSH
                                    </p>
                                    <p
                                        style="
                                            margin: 1.5rem 0 0;
                                            color: #050a15;
                                            font-size: 0.875rem;
                                        "
                                    >
                                        Vote, contribute, and earn tokens — with security
                                        and decentralization guaranteed
                                    </p>
                                    <p
                                        style="
                                            margin: 1.5rem 0 0;
                                            color: #050a15;
                                            font-size: 0.875rem;
                                        "
                                    >
                                        Join now to start building
                                    </p>

                                    <a
                                        href="https://app.gosh.sh/o/{{ dao_name }}/onboarding?token={{ token }}"
                                        target="_blank"
                                        style="
                                            display: block;
                                            padding: 0.75rem 1.5rem;
                                            background: #288bff;
                                            border-radius: 0.75rem;
                                            text-align: center;
                                            text-decoration: none;
                                            font-size: 0.875rem;
                                            font-weight: 500;
                                            line-height: 1.5;
                                            color: #ffffff;
                                            margin-top: 1.5rem;
                                            max-width: 10.625rem;
                                        "
                                    >
                                        Start building
                                    </a>
                                </div>

                                <a
                                    href="https://youtu.be/Tw4YwVShRMU"
                                    target="_blank"
                                    style="
                                        display: flex;
                                        align-items: center;
                                        gap: 2rem;
                                        margin-top: 1.5rem;
                                        padding: 1.25rem 1rem;
                                        border: 1px solid #ebebeb;
                                        border-radius: 1rem;
                                        overflow: hidden;
                                        background-color: #ffffff;
                                        text-decoration: none;
                                    "
                                >
                                    <div style="width: 2.5rem">
                                        <img
                                            src="https://gosh.sh/email/v3-0-5/youtube-gray.svg"
                                            style="width: 100%"
                                        />
                                    </div>
                                    <div style="color: #53596d">
                                        Watch a quick tutorial<br />
                                        How to register on GOSH
                                    </div>
                                </a>

                                <a
                                    href="https://docs.gosh.sh/working-with-gosh/gosh-web/"
                                    target="_blank"
                                    style="
                                        display: flex;
                                        align-items: center;
                                        gap: 2rem;
                                        margin-top: 1rem;
                                        padding: 1.25rem 1rem;
                                        border: 1px solid #ebebeb;
                                        border-radius: 1rem;
                                        overflow: hidden;
                                        background-color: #ffffff;
                                        text-decoration: none;
                                    "
                                >
                                    <div style="width: 2.5rem">
                                        <img
                                            src="https://gosh.sh/email/v3-0-5/book-gray.png"
                                            style="width: 100%"
                                        />
                                    </div>
                                    <div style="color: #53596d">
                                        Or learn how to
                                        <br />
                                        register on GOSH
                                    </div>
                                </a>

                                <hr
                                    style="
                                        color: #ebebeb;
                                        background-color: #ebebeb;
                                        border: 0;
                                        height: 1px;
                                        margin: 2.5rem 0;
                                    "
                                />
                            </td>
                        </tr>
                        <tr>
                            <td
                                valign="top"
                                style="
                                    background-image: url('https://gosh.sh/email/v3-0-5/footer.png');
                                    background-position: 30% 50%;
                                    padding: 3.5rem 0 0;
                                "
                            >
                                <table
                                    width="100%"
                                    style="min-height: 14rem; padding: 0 3rem"
                                >
                                    <tr valign="top" height="40">
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://t.me/gosh_sh"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-telegram.png"
                                                    width="40"
                                                    border="0"
                                                    alt="Telegram"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://twitter.com/gosh_shell"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-twitter.png"
                                                    width="40"
                                                    border="0"
                                                    alt="Twitter"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://www.youtube.com/@gosh8716"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-youtube.png"
                                                    alt="Youtube"
                                                    width="40"
                                                    border="0"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td style="padding-right: 0.625rem">
                                            <a
                                                href="https://blog.gosh.sh/"
                                                target="_blank"
                                                style="
                                                    text-decoration: none;
                                                    display: block;
                                                "
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-blog.png"
                                                    alt="Blog"
                                                    width="40"
                                                    border="0"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                    "
                                                />
                                                <span
                                                    style="
                                                        color: #b8bfd7;
                                                        font-size: 1rem;
                                                        font-weight: 400;
                                                    "
                                                >
                                                    Blog
                                                </span>
                                            </a>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td
                                            colspan="4"
                                            style="
                                                padding-top: 1.3rem;
                                                color: #a0aac9;
                                                font-weight: 400;
                                                font-size: 0.875rem;
                                            "
                                        >
                                            Kindly, The GOSH team
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="10" style="font-size: 10px; line-height: 10px">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
