@import './colors.scss';
@import './mixins.scss';

html {
  font-size: 16px;
}

body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 500;
  font-size: 1rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
  padding: 0;
  letter-spacing: -.03em;
  background-color: #e5e9f0;
  color: $dark
}

table {
  background-color: $white;
  border-radius: 4px;
}

a {
  color: $main;

  @include transition(0.15s);

  &:hover {
    color: saturate(darken($main, 9), 20);
    @include transition(0.3s);
  }

  &, &:focus, &:active, &:hover {
    text-decoration: none !important;
  }
  &:focus, &:active, &:hover {
    @include transition(0.35s);
  }
  &.active {
    color: $main;
  }
  &:focus-visible {
    // &, &:focus, &:active, &:hover {
      border-radius: .25rem;
      outline: 2px solid rgba($main, 0.5);
    // }
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
  padding-top: 0;
  margin-top: 0;
  letter-spacing: -.04rem;
}
h1, h2, h3 {
  letter-spacing: -.08rem;
}

html, body, #root, .ws-app {
  /* IE 10-11 didn't like using min-height */
  height: 100%;
}
.ws-app {
  display: flex;
  flex-direction: column;
}

.container, .container-fluid {
  // max-width: 1020px;
  // padding-left: 16px;
  // padding-right: 16px;
  padding: 2rem;
  padding-top: 0;
}

main {
  flex-grow: 1;
  display: flex;
  justify-content: stretch;
  align-items: stretch;
}

.row {
  flex-grow: 1;
}

.modal-body {}

.align-left {
  text-align: left;
}
.align-center {
  text-align: center;
}
.align-right {
  text-align: right;
}

.color-error {
  color: $red;
}

.color-success {
  color: $green;
}

.color-white {
  color: $white;
}
.color-faded {
  color: $text-secondary;
}
.color-black {
  color: $dark;
}

.widget-wrapper {
  overflow: hidden;
}



.content-container-transparent {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 !important;
  border-radius: .5rem .5rem 0 0;
  position: relative;
  width: calc(100% - 48px);
  max-width: calc(100% - 48px)!important;

}
.content-container {
  flex-grow: 1;
  display: flex!important;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 !important;
  background-color: #ffffff;
  border-radius: .375rem .375rem 0 0;
  position: relative;
  width: calc(100% - 48px);
  max-width: calc(100% - 48px)!important;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 2px rgb(58 66 75 / 10%), 0 2px 4px rgb(58 66 75 / 20%);
    -webkit-clip-path: inset(-4px -4px 0 0);
    clip-path: inset(-4px -4px 0 0);
    border-radius: .375rem .375rem 0 0;
  }
  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
    box-shadow: 0 0 2px rgb(58 66 75 / 10%), 0 2px 4px rgb(58 66 75 / 20%);
    -webkit-clip-path: inset(0 0 0 -4px);
    clip-path: inset(0 0 0 -4px);
    border-radius: .375rem .375rem 0 0;
  }
  
  .right-column {
    flex-grow: 1;
    padding: 24px;
    padding-top: 24px;

    .divider {
      margin: 1.5rem -1.5rem;
      height: 1px;
      background-color: #f0f2f5;
    }
    .page-header {
      width: 100%;
      
      .page-header-flex {
        width: calc(100% - 1px);

        & > * {
          flex-shrink: 1;
        }
      }
    }
  }
  .left-column {
    // position: -webkit-sticky;
    // position: sticky;
    z-index: 11;
    top: 68px;
    width: 300px;
    left: 0;
    height: -webkit-calc(100vh - 68px);
    height: calc(100vh - 68px);
    height: calc(100% - 38px);
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 24px;
    background: #f7f8fa;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-shrink: 0;
    flex-shrink: 0;
    border-radius: .375rem 0 0 0;
    @include transition(0.2s);

    @media (max-width: 991px) {
      width: 230px;
    }
    h2 {
      margin-bottom: .625em;
    }
  }
}
h2 {
  font-size: 1.4em;
  letter-spacing: -.06rem;
  font-weight: bold;
}
.content-container-fullwidth {
  flex-grow: 1;
  display: flex!important;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0 !important;
  background-color: #ffffff;
  border-radius: .375rem .375rem 0 0;
  position: relative;
  width: calc(100% - 48px);
  max-width: calc(100% - 48px)!important;

  .header-row {
    flex-grow: 1;
    padding: 24px 24px 0 24px;
    padding-top: 24px;
    background: #f7f8fa;
    flex-grow: 0;
    border-radius: .375rem .375rem 0 0;

    .divider {
      margin: 1.5rem -1.5rem;
      height: 1px;
      background-color: #f0f2f5;
    }
    .page-header {
      width: 100%;
      
      .page-header-flex {
        width: calc(100% - 1px);

        & > * {
          flex-shrink: 1;
        }
      }
    }
  }
  .main-row {
    padding: 24px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
  }
}

h6 {
  font-weight: 700 !important;
  font-size: 14px !important;
  margin-bottom: 16px !important;
}

.modal-body {
  & > * {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}

.main, main {

  .button-block-top {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    flex-wrap: nowrap;
    position: absolute !important;
    top: 1.0625rem;
    right: 1.5rem;

    & > * {
      background-color: #ebebef;
      border-radius: 1rem;
      font-size: 13px;
      font-weight: 650;
      letter-spacing: -.025rem;
      // padding-top: 0;
      // padding-bottom: 0;
      margin-left: .75rem;

      svg {
        color: #007BFF;
        height: 18px;
        width: 18px;
        vertical-align: middle;
        transform: translateX(-4px) translateY(0px);
        transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
      }

      &:hover {
        color: #ffffff;
        background-color: #007BFF;

        svg {
          color: #003772;
        }
      }
    }
  }

  h1 {
    color: $dark;
    text-fill-color: transparent;
    max-width: 700px;
    margin-bottom: 2rem;
    position: relative;
    z-index: 10;

    @media (max-width: 767px) {
      font-size: calc(10vw) !important;
      line-height: calc(15vw) !important;
    }
  }
  h1 + div {
    position: relative;
    z-index: 10;

    span {
      white-space: nowrap;
    }
  }
  h1 + * > span > svg {
    transform: translateY(4px);
    margin: 0 3px;
  }
  .visual-container {
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    pointer-events: none;

    @media (max-width: 767px) {
      opacity: .5 !important;
    }

    .visual {
      background-color: transparent;
      width: 100%;
      height: 100vh;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translateY(-300px);

      svg {
        position: absolute;
        pointer-events: none;
        -webkit-transform: translate(-50%,-50%);
            -ms-transform: translate(-50%,-50%);
                transform: translate(-50%,-50%);

        @for $i from 15 through 1 {
          &:nth-child(#{$i}) {
            opacity: #{(16 - $i) * 0.06666666666};
            transform: rotate(#{($i - 1) * (-4.1)}deg);
          }
        }
      }
    }
  }
}

th span {
  font-weight: 600 !important;
}

.status-dot {
  width: .6rem;
  height: .6rem;
  border-radius: .3rem;
  margin: .5rem .5rem;
  display: block;

  &.success {
    background: #05d105;
    box-shadow1:#05d10588 0px 8px 14px 0px;
  }

  &.warning {
    background: #ffdb4d;
    box-shadow1:rgba(255, 204, 0, 0.25) 0px 8px 14px 0px;
  }

  &.error {
    background: #fc3f1d;
    box-shadow1:#fc3f1d80 0px 8px 14px 0px;
  }

  &.loading {
    background: #c5c7d8;
    box-shadow1:#9299bb52 0px 8px 14px 0px;
    -webkit-animation: blink 1.25s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
            animation: blink 1.25s -0.24s infinite cubic-bezier(0.2, 0.68, 0.18, 1.08);
  }

  @-webkit-keyframes blink {
    0% {
      opacity: 1; }
    45% {
      opacity: 0.3; }
    80% {
      opacity: 1; } }
  @keyframes blink {
    0% {
      opacity: 1; }
    45% {
      opacity: 0.3; }
    80% {
      opacity: 1; } }
}

.loading {
  opacity: 0.7;
}

.modal-overlay {
  & > div:first-child {
    background-color: #ffffff;
  }

  .close-button {
    position: absolute;
    right: 22px;
    top: 18px;
  }
}
.cell-button {
  padding: 12px 16px !important;
  text-align: right;

  button {
    float: right;
    background-color: #ebebef;
    border-radius: 1rem;
    padding-left: 12px;
    padding-right: 12px;
  }
}
table {
  tr {  
    &:last-child {
      td {
        border-bottom: none !important;
      }
    }
  }
  td {
    button:disabled {
      background-color: rgba(0, 0, 40, 0.1) !important;
    }
  }
}
.table-wrapper {
  margin-bottom: 24px !important;
  border-radius: 4px !important;
}

.loading-preview {
  color: $gray-light;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: calc(100% - 3rem);
  padding-bottom: 3rem;

  img {
    width: 256px;
    height: auto;
  }

  h4 {
    margin-top: -5px;
    font-weight: 700;
    letter-spacing: -.11rem;
    text-indent: 15px;
    color: $dark;
  }
  p {
    margin-top: 15px;
    color: $gray;
    max-width: 400px;
    text-align: center;
  }
  .button-flex {
    margin-top: 1.5rem;

    button {
      margin-left: .5rem;
      margin-right: .5rem;
    }

    .button-cta {
      min-width: 200px;
    }
  }
}

button {
  cursor: pointer !important;
}

.table-row-noborder {
  td, th {
    border-bottom: none !important;
  }

  & + tr {
    td, th {
      padding-top: 0;
    }
  }
}

pre {
  font-family: 'Noto Sans Mono', 'Courier New', Courier, monospace;
  font-family: 'Red Hat Mono', 'Courier New', Courier, monospace;
  font-family: 'JetBrains Mono', 'Courier New', Courier, monospace;
  font-weight: 400;
  background-color: darken($surf-gray-background, 1);
  margin: 0;
  border-radius: .5rem;
  padding: 1rem 1rem;
  font-size: 13px;

  code {
    font-family: inherit;
  }
}

.button-cta {
  font-size: 16px !important;
  letter-spacing: -.03rem;
  padding: 0 !important;
  height: 48px;
  padding-bottom: .125rem !important;

  &:disabled {
    background-color: rgba(0, 0, 40, 0.17) !important;
    background-color1: #3091fa !important;
    color1: #1547a3 !important;
  }

  svg {
    opacity: 0;
    margin-left: -20px;
    transition: all 250ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;

    &.loader-active {
      opacity: .5;
    }
  }
}

.button-cta-pale {
  background-color: #e1e3ea !important;
  color: $dark !important;

  &:hover {
    background-color: #d9dae3 !important;
  }
}
.modal-title {
  margin-top: -.5rem;
}
.modal-description {
  margin-top: -.5rem !important;
  margin-bottom: 2rem !important;
}
.modal-form {
}

.block-auth {
  .button-cta {
    margin-top: 1rem;
    width: 100%;
  }
}
.seedphrase-textarea {
  width: 100% !important;
  box-sizing: border-box;
  border: none;
  margin: 0;
  border-radius: .5rem;
  padding: 1rem 1rem;
  font-size: 15px;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  letter-spacing: -.03rem;
  word-spacing: 10px;
  max-height: 300px;

  &:focus-visible {
    outline: rgba(#005fcc, .6) auto 5px;
    outline-width: 5px;
  }

  &::placeholder {
    font-weight: 500;
    word-spacing: 0px;
  }
  &::-webkit-input-placeholder {
    font-weight: 500;
    word-spacing: 0px;
  }
  &::-moz-placeholder, &:-moz-placeholder,&:-ms-input-placeholder {
    font-weight: 500;
    word-spacing: 0px;
  }
  &:-ms-input-placeholder {
    font-weight: 500;
    word-spacing: 0px;
  }
}
.form-checkbox {
  margin-top: .5rem;
}

.menu-list {
  .menu-list-item {
    padding: 0;

    a {
      width: 100%;
    }
    .menu-list-item-button {
      padding: .325rem .5rem .5rem;
      border-radius: .375rem;
      width: 100%;

      .menu-list-item-text {
        &, * {
          font-size: 14px;
          color: $dark;
          font-weight: 600;
        }
      }
      
      .menu-list-item-icon {
        min-width: 32px!important;
        padding-left: 2px;
      }
              
      svg {
        width: 22px;
        height: 22px;
        stroke: #9a9db1;
      }

      &:hover {
        background-color: #b4b8cc52;

        svg {
          stroke: #007BFF;
        }
      }
    }
  }
}
.menu-tab {
  // margin-left: -1rem;
  // margin-right: -1rem;

  .tab-list-item {
    padding-left: 0;
    padding-right: 0;
    min-width: 0;
    margin-right: 1.5rem;

    &, * {
      font-size: 14px;
      color: $dark;
      font-weight: 600;
      text-transform: none;
      min-height: 0;
      height: 4rem;
      color: rgba($dark, 0.7);
    }
    svg {
      width: 20px;
      height: 20px;
      stroke: #9a9db1;
      color: #9a9db1;
      @include transition(0.15s);
    }
    &[aria-selected="true"] {
      font-weight: 600;
      color: $dark;

      svg {
        width: 20px;
        height: 20px;
        stroke: $main;
        color: $main;
      }
    }
  }
  span {
    height: 3px;
    background-color: #b4b8cc;
  }
}
.btn-icon {
  svg {
    width: 18px;
    height: 18px;
    transform: translateX(-4px);
    @include transition(0.15s);
  }
  &:hover {
    svg {
      transform: translateX(-6px);
      @include transition(0.3s);
    }
  }
}
.input-field {
  background-color: #f7f8fa !important;
  width: 100% !important;
  padding: .375rem 1rem !important;
  border-radius: .375rem !important;
  color: $tertiary;
  outline: none;
  border: none;

  &, * {
    color: $dark!important;

    &::placeholder {
      color: #B7BBBE!important;
      opacity: 1!important;
    }
    &::-webkit-input-placeholder {
      color: #B7BBBE!important;
      opacity: 1!important;
    }
    &::-moz-placeholder, &:-moz-placeholder,&:-ms-input-placeholder {
      color: #B7BBBE!important;
      opacity: 1!important;
    }
    &:-ms-input-placeholder {
      color: #B7BBBE!important;
      opacity: 1!important;
    }
  }
  &.input-field-modal {
    background-color: #eaecf0;
  }
  &:disabled{
    &, * {
      color: $dark!important;

      &::placeholder {
        color: $dark!important;
        opacity: 1!important;
      }
      &::-webkit-input-placeholder {
        color: $dark!important;
        opacity: 1!important;
      }
      &::-moz-placeholder, &:-moz-placeholder,&:-ms-input-placeholder {
        color: $dark!important;
        opacity: 1!important;
      }
      &:-ms-input-placeholder {
        color: $dark!important;
        opacity: 1!important;
      }
    }
  }
}

.no-data {
  text-align: center;
  margin: 200px auto;
  font-size: 14px;

  svg {
    margin: 8px auto;
    stroke: #9a9db1;
    opacity: .5;
    display: block;
    width: 64px;
    height: 64px;
  }
}

.loader {
  font-size: 14px;
  text-indent: -4px;
  color: darken($tertiary, 20);

  svg {
    vertical-align: middle;
    transform-origin: 0 50%;
    transform: scale(.65) translateX(4px);

    &, * {
      color: #007BFF;
      stroke: #007BFF!important;
      opacity: 1;
    }
  }
  &.prompt {
    text-indent: 0;
  }
}

.organization {
  border-radius: 6px;
  border: 0.07rem solid #e0e0e9;
  color: $dark;
  @include transition(0.15s);
  margin-bottom: 1.5rem;

  & > * {
    padding: 20px;
    position: relative;
  }

  .organization-title {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.05rem;
    margin-bottom: .375rem;
    color: $main;
  }

  .organization-description {
    font-size: 14px;
    opacity: 1;
    color: $dark;
  }
  .organization-footer {
    border-top: 0.07rem solid #e0e0e9;
    padding: 20px 20px;
  }
  .organization-badges {
    margin-top: 1rem;
    margin-bottom: 0;
  }
  .arrow {
    position: absolute;
    right: 1.25rem;
    top: 0;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-start;
    padding-top: 1.25rem;
    width: 50px;
    opacity: 0;
    pointer-events: none;
    @include transition(0.15s);

    svg {
      width: 22px;
      height: 22px;
    }
  }

  &:hover {
    background-color: #f7f8fa;//f0f2f5
    @include transition(0.3s);
    background-color: #f0f1f5;
    border: 0.07rem solid transparent;

    .arrow {
      opacity: 1;
      @include transition(0.3s);
    }
    .tag-badge {
      @include transition(0.3s);
      background-color: darken($surf-gray-background-alt, 7) !important;
    }
  }
}

.badge {
  font-size: 14px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-right: 2rem;

  .badge-loader {
    margin-right: 4px;
  }

  svg {
    vertical-align: middle;
    margin-right: 8px;
    width: 16px;
    height: 16px;
    stroke: #656877;
    stroke-width: 0.15rem;
  }
}


.button-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed !important;
  bottom: .875rem;
  right: 1.5rem;
  z-index: 1010;

  & > * {
    margin-left: .5rem;
  }
}

.overflow-ellipsis {
  &, & > * {
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
.error-block {
  margin-top: .25rem !important;
}

.tag-badge {
  display: inline-block !important;
  font-size: 12px !important;
  padding: .125rem .375rem !important;
  height: 22px !important;
  border-radius: 12px !important;
  background-color: darken($surf-gray-background-alt, 0) !important;
  margin-right: .5rem !important;
  @include transition(0.15s);
}
.no-margin {
  margin: 0 !important;
}

h2.drag-up {
  margin-top: -.5rem;
}

.monaco-editor, .monaco-editor-background, .monaco-editor .inputarea.ime-input {
  background-color: transparent !important;
}
.monaco-editor {
  .margin, .lines-content {  
    padding: 1rem 0px;
    background-color: transparent !important;
  }
  .view-overlays, .cursors-layer {
    transform: translateY(1rem);
  }
}
.input-field-setting-goshroot {
  margin-top: .25rem
}

.gosh-root-address {
  position: relative;

  div:first-child {
      background-color: #e9ecf0 !important;
      margin-top: .5rem;
  }
  input {
      color: $dark !important;
      padding-right: 25px;
      width: 100%;
      -webkit-text-fill-color: $dark !important;
  }

  button {
      position: absolute;
      top: 2.389rem;
      right: .9rem;
  }
}