@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.footer-wrapper {
  -webkit-backdrop-filter: blur(.5rem);
  backdrop-filter: blur(.5rem);
  background-color: rgba(#ffffff, 0.5)!important;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 100;
}

.button-block {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  position: fixed !important;
  bottom: .875rem;
  right: 1.5rem;
  z-index: 101;

  & > * {
    margin-left: .5rem;
  }
}

.footer {
  font-size: 0.925rem;

  .container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2rem 1rem;

    @media (max-width: 1199px) {
      padding: 2rem 1rem;
    }
    @media (max-width: 991px) {
      padding: 2rem 1rem;
    }
    @media (max-width: 767px) {
      padding: 2rem 1rem;
    }

    @media (max-width: 499px) {
      flex-direction: column;
    }
  }
  
  @media (max-width: 499px) {
    height: auto;
  }

  .copyright {
    color: $tertiary;
  }
  .grid {
    padding: 1rem 0 1.5rem;
  }
}