@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.list-box {
  position: relative;

  .list-box-options {
    position: absolute;
    top: 34px;
    left: 0;
    margin: 0;
    padding: 0;
    width: 200px;
  }
  .list-box-options-paper {
    padding: 16px;
    background-color: $white;
    border-radius: 6px !important;
    box-shadow: 0px 7px 9px -4px rgb(0 0 30 / 10%), 0px 14px 21px 2px rgb(0 0 30 / 7%), 0px 15px 26px 4px rgb(0 0 40 / 8%);
  }
  .list-box-button {
    padding: 0.125rem 0.375rem 0.25rem 0.625rem;
    border-radius: 0.375rem;
    display: inline-flex;
    background-color: rgba(180, 184, 204, 0.3215686275);
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 100px;
    font-size: 14px;

    .placeholder {
      color: rgb(109, 114, 136);
    }

    svg {
      transform: translateY(.05rem) scale(.85);
      margin-left: .5rem;
      transform-origin: center center;
    }
  }
}
.input {
  padding: .25rem .75rem !important;
  margin-bottom: .25rem;

  &:before, &:after {
    content: none !important;
  }
  input {
    background-color: transparent !important;
  }
}
.branch-list-item {
  outline: none;
  margin: 0;
  padding: .5rem 0;
  list-style-type: none;
  font-size: 15px;
  font-weight: 600;
  color: $dark;
  @include transition(0.3s);
  cursor: pointer;

  &:hover {
    color: $main;
  }
}
.branch-list-empty {
  margin: 0;
  padding: .5rem 0 0;
}