@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.smv-summary {
  width: 100%;
  border-radius: .5rem;
  padding: .75rem .5rem .75rem 1rem;
  box-sizing: border-box;
  background-color: #f7f8fa !important;
  height: 50px;

  .smv-summary-item {
    margin-right: 1rem;
  }

  .smv-summary-title {
    font-weight: 650;
    font-size: 15px;
    margin-right: .25rem;
  }
  .smv-summary-item-status {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}
.running-indicator {
  svg {
    width: 18px;
    height: 18px;
    transform: scale(1.125) translateX(-5px);
  }
}