@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';


.swiper {
  width: 100%;
  height: auto;
  z-index: 10;
  padding: 10px !important;
  margin-left: -10px !important;
  margin-right: -10px !important;
  margin-top: -10px !important;
  margin-bottom: -10px !important;

  animation: fadeIn 1s cubic-bezier(0.375, 0.885, 0.6, 1);
  -webkit-animation: fadeIn 1s cubic-bezier(0.375, 0.885, 0.6, 1);
  -moz-animation: fadeIn 1s cubic-bezier(0.375, 0.885, 0.6, 1);
  -o-animation: fadeIn 1s cubic-bezier(0.375, 0.885, 0.6, 1);
  -ms-animation: fadeIn 1s cubic-bezier(0.375, 0.885, 0.6, 1);
}

.swiper-slide {
  width: 100%;
}

.active {
  opacity: 1;
  visibility: visible;
}