<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html lang="en">
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />

        <title>Houston, we have a problem!</title>

        <link
            href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap"
            rel="stylesheet"
        />
        <style type="text/css"></style>
    </head>
    <body
        style="
            margin: 0;
            padding: 0;
            background-color: #ffffff;
            font-family: Poppins, sans-serif;
        "
    >
        <table width="100%" border="0" cellpadding="0" cellspacing="0">
            <tr>
                <td align="center" valign="top">
                    <table
                        cellpadding="0"
                        cellspacing="0"
                        border="0"
                        class="wrapper"
                        bgcolor="#ffffff"
                        style="
                            width: 100%;
                            max-width: 40rem;
                            padding-left: 1.5rem;
                            padding-right: 1.5rem;
                        "
                    >
                        <tr>
                            <td align="center" valign="top">
                                <img
                                    src="https://gosh.sh/email/v3-0-5/header-rename.png"
                                    width="100%"
                                    border="0"
                                    alt="Rename required"
                                    style="
                                        margin: 0;
                                        padding: 0;
                                        border: none;
                                        display: block;
                                    "
                                />
                            </td>
                        </tr>
                        <tr>
                            <td
                                align="left"
                                valign="top"
                                style="
                                    font-weight: 400;
                                    font-size: 1rem;
                                    line-height: 1.6;
                                    color: #53596d;
                                "
                            >
                                <h1
                                    style="
                                        font-weight: 700;
                                        font-size: 2rem;
                                        line-height: 1.2;
                                        margin-top: 2rem;
                                        margin-bottom: 1rem;
                                        color: #050a15;
                                    "
                                >
                                    Houston, we have a problem
                                </h1>
                                <p style="max-width: 21.875rem">
                                    We have detected some name conflicts in your
                                    repositories.
                                </p>
                                <p style="max-width: 21.875rem">
                                    Please follow the link below to rename your GOSH
                                    repositories to continue.
                                </p>
                                <a
                                    href="https://app.gosh.sh/onboarding/status"
                                    target="_blank"
                                    style="
                                        display: block;
                                        padding-top: 0.75rem;
                                        padding-bottom: 0.75rem;
                                        background: #050a15;
                                        border-radius: 0.3125rem;
                                        text-align: center;
                                        text-decoration: none;
                                        font-size: 1rem;
                                        font-weight: 600;
                                        line-height: 1.5;
                                        color: #ffffff;
                                        margin-top: 2.5rem;
                                        margin-bottom: 5.625rem;
                                        max-width: 21.875rem;
                                    "
                                    >Fix it</a
                                >
                            </td>
                        </tr>
                        <tr>
                            <td
                                valign="top"
                                style="
                                    background-image: url('https://gosh.sh/email/v3-0-5/footer.png');
                                    background-position: 30% 50%;
                                "
                            >
                                <table width="100%" style="min-height: 14rem">
                                    <tr valign="top" height="40">
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://t.me/gosh_sh"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-telegram.png"
                                                    width="40"
                                                    border="0"
                                                    alt="Telegram"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://twitter.com/gosh_shell"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-twitter.png"
                                                    width="40"
                                                    border="0"
                                                    alt="Twitter"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td width="1%" style="padding-right: 0.625rem">
                                            <a
                                                href="https://www.youtube.com/@gosh8716"
                                                target="_blank"
                                                style="display: block"
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-youtube.png"
                                                    alt="Youtube"
                                                    width="40"
                                                    border="0"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                    "
                                                />
                                            </a>
                                        </td>
                                        <td style="padding-right: 0.625rem">
                                            <a
                                                href="https://blog.gosh.sh/"
                                                target="_blank"
                                                style="
                                                    text-decoration: none;
                                                    display: block;
                                                "
                                            >
                                                <img
                                                    src="https://gosh.sh/email/v3-0-5/social-blog.png"
                                                    alt="Blog"
                                                    width="40"
                                                    border="0"
                                                    style="
                                                        margin: 0;
                                                        padding: 0;
                                                        border: none;
                                                        display: inline-block;
                                                        vertical-align: middle;
                                                    "
                                                />
                                                <span
                                                    style="
                                                        color: #b8bfd7;
                                                        font-size: 1rem;
                                                        font-weight: 400;
                                                    "
                                                    >Blog</span
                                                >
                                            </a>
                                        </td>
                                    </tr>
                                    <tr valign="top">
                                        <td
                                            colspan="4"
                                            style="
                                                padding-top: 1.3rem;
                                                color: #a0aac9;
                                                font-weight: 400;
                                                font-size: 0.875rem;
                                            "
                                        >
                                            Kindly, The GOSH team
                                        </td>
                                    </tr>
                                </table>
                            </td>
                        </tr>
                        <tr>
                            <td height="10" style="font-size: 10px; line-height: 10px">
                                &nbsp;
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </body>
</html>
