@import '../../assets/styles/colors.scss';
@import '../../assets/styles/mixins.scss';

.wallet-summary {
  width: 100%;
  border-radius: .5rem;
  padding: .75rem .5rem .75rem 1rem;
  box-sizing: border-box;
  background-color: #f7f8fa !important;
  height: 50px;

  .wallet-summary-item {
    margin-right: 1rem;
  }

  .wallet-summary-title {
    font-weight: 650;
    font-size: 15px;
    margin-right: .25rem;
  }
  .wallet-summary-item-status {
    text-align: right;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
  }
}

.wallet-form {
  input {
    height: 40px !important;
    box-sizing: border-box;
    margin-right: 1rem;
  }
  button {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
  }
}
.git-remote {
  position: relative;
  margin-top: 1rem;

  .git-remote-copy {
    position: absolute;
    top: 16px;
    right: 20px;
  }
  pre {
    position: relative;
    overflow-y: visible;
    height: 165px;
    overflow-x: auto;

    code {
      position: absolute;
      padding-right: 20px;
    }
  }
}